body{
   /* background-image: url(bakery3.webp);*/
   background-color: beige;
    margin: 0;
}
{
    box-sizing:border-box ;
}
.main_menu{
    background-color: rgb(88, 86, 86);
    overflow: hidden;
}
.main_menu a{
    padding: 14px 16px;
    display: block;
    float: left;
    color: bisque;
    text-decoration: none;
    text-align: left;
    
}
.main_menu a:hover{
    color: rgb(88, 86, 86) ;
    background-color: bisque;
    text-decoration: none;

}
.main_menu-right{
    float:right;
}
.banner{
    background-color: rgb(97, 91, 91) ;
    padding:20px;
    background-image: url(banner.jpeg ) ;
    text-align: center;
    color:lightsalmon;
}
.footer{
    background-color: rgb(88, 86, 86);
    overflow: hidden;
    text-align: center;
}



